##### Tests STUFF #####
/tests/*
!/tests/.gitkeep

##### App STUFF #####
/app/*
!/app/requirements.txt
!/app/scripts

##### Vagrant STUFF #####
/vagrant/.vagrant

##### Ansible STUFF #####
/ansible/playbook.retry
