##### Tests STUFF #####
/tests/*
!/tests/.gitkeep

##### App STUFF #####
/app/*
!/app/requirements.txt
!/app/scripts
!/app/data/
/app/data/*
!/app/data/.gitkeep
/app/scripts/tests/*
!/app/scripts/tests/.gitkeep

##### Vagrant STUFF #####
/vagrant/.vagrant

##### Ansible STUFF #####
/ansible/playbook.retry

##### Python STUFF ######
__pycache__/
*.py[cod]
*$py.class
